.mainPageWrapper {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  width: 60%;
  margin-bottom: 100px;
  max-width: 800px;
}

.searchWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.appTitle {
  color: #1890ff;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 24px;
}

.tagsWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.addNewNoteButton {
  margin-left: 10px;
}

.notesWrapper {
  margin-top: 50px;
}

.userAvatarWrapper {
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userName {
  padding-right: 5px;
  color: #1890ff;
}

.logOut {
  text-align: center;
}

